################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestCICD/.vs/TestCICD/v16
/TestCICD/TestCICD/obj
/TestCICD/TestCICD/bin/Debug/netcoreapp3.1
/TestCICD/TestCICD/bin/Release/netcoreapp3.1
/TestCICD/.vs/TestCICD/DesignTimeBuild
/TestCICD/.vs/TestCICD/config
